<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trustgraph</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <h1>{{apple}}</h1>
    eh, block isn't rendering
    <h1>Add a source</h1>
    And here, there will be a form to add a Twitter handle. We can start with just Twitter.

    <br>
    <h2>
        Add a person you trusted
    </h2>
    When we say trust, we don't mean people you like, or someone who you would trust to pick you up from the
    hospital. We mean someone who consistently shares factual, truthful information. Consider adding people you
    disagree with but who are careful to accurately state the facts.
    <br>

    <form method="POST" action="add_source">
         <div>{{ aform.twitter_handle.label }}: {{ aform.twitter_handle(class="mdl-textfield__input", value="Enter
             twitter handle")
             }}</div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent">
            Add Source
        </button>
    </form>


</body>
</html>